.toolbar {
  display: flex;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}

.toolbar__item + .toolbar__item {
  margin-left: 15px;
}

.active {
  background-color: black;
  color: white;
}
